@import "tailwindcss";


/* Tus clases personalizadas VAN AQUÍ ABAJO */
.brand-title {
  font-size: 1.125rem; /* 18px en móviles */
  font-weight: 800; /* extrabold */
  color: #b34242; /* blanco */
  letter-spacing: 0.05em; /* tracking wide */
}

@media (min-width: 768px) {
  .brand-title {
    font-size: 1.5rem; /* 24px en pantallas medianas o grandes */
  }
}



/* Tus clases personalizadas VAN AQUÍ ABAJO */


@media (min-width: 768px) {
  .brand-title {
    font-size: 1.5rem; /* 24px en pantallas medianas o grandes */
  }
}

nav a {
  transition: all 0.3s ease;
}

nav a:hover {
  text-shadow: 0 0 10px #ffd700;
}


